body{ font:12px/1.5em Microsoft Yahei,tahoma,Srial,helvetica,sans-serif;} 
*{margin:0;padding:0;}
body{font-family:"Microsoft Yahei",tahoma,"Srial",helvetica,sans-serif,"Times New Roman";}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
ul,li{list-style:none;}
img{border:none;}
a{text-decoration:none;}
a:hover{text-decoration:none;}
.left{float:left;}
.right{float:right;}
.clear{clear:both;height:0;overflow:hidden;}
#header_menu{ width: 100%; height: 40px; background: #000; line-height: 40px;position: relative; z-index: 2;}
#header_menu p{font-size: 20px; color: #fff; line-height: 40px; }
#header_menu span{font-size: 12px; color: #fff; }
/*整个页面添加遮罩层: 页面中加<div class="modal"></div>即可*/
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgba(0,0,0,0.3); /* Black w/ opacity */
}
/*整个页面添加遮罩层: END*/


/*---------------------------------------------------元素居中---------------------------------------------------*/
/*垂直居中：transform: translateY属性 让元素居中http://www.webhek.com/translatey-vertical-align*/
.v_align{position:relative;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);}
/*水平居中: left: 0px; right: 0px;  margin: 0 auto;*/
.center-wrap{ width: 100%; height: 400px; background: #eee; position: relative; text-align: center;}
.center_shape{width: 400px; height: 200px; line-height: 200px;position: absolute; }
.center-ab{ left: 0; right: 0;  margin: 0 auto; background: #ddd;}
.Absolute-Center { top: 0; left: 0; bottom: 0; right: 0;  margin: auto; background: #4C8BF5; margin-top: 200px;}

/*---------------------------------------------------Form Style---------------------------------------------------*/
/* 去除Chrome等浏览器文本框默认发光边框 */
input:focus,select,textarea:focus{outline:none;}

/* 禁止多行文本框textarea拖拽 */
textarea{resize:none;}

/* 去除IE10+浏览器文本框后面的小叉叉 */
input::-ms-clear,input::-ms-reveal{display:none;}

/*CSS3 去除苹果浏览器按钮input[type="submit"]和input[type="reset"]的默认样式*/
.form-actions input{ -webkit-appearance: none;}


/*form表单demo*/
.form{ background: #3A295D; padding: 26px;}
.form fieldset{ width: 20%; height: 200px; border: 2px solid #000; margin: 0 auto; padding: 20px; font-size: 24px; font-weight: bold;}
.form input{display: block; width: 80%; height: 40px; margin: 0 auto; margin-top: 20px;}
.form input.user_sr{color:#333; text-indent: 2rem; }
.form input.user_submit{border: none; background: #00C1C8; text-align: center; font-size: 20px; color: #fff;}
/*设置input标签placeholder字体颜色*/
.form *::-webkit-input-placeholder {
	/*Webkit内核的浏览器和Microsoft Edge*/
    color: #ff7800;
}
.form *:-moz-placeholder {
    /* FF 4-18 */
    color: #ff7800;
}
.form *::-moz-placeholder {
    /* FF 19+ */
    color: #ff7800;
}
.form *:-ms-input-placeholder {
    /* IE 10+ */
    color: #ff7800;
}
/*按钮动画*/
.ani_button {
	display: inline-block;
	border-radius: 4px;
	background-color: #f4511e;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 28px;
	padding: 20px;
	width: 200px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
}

.ani_button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.ani_button span:after {
	content: '»';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.ani_button:hover span {
	padding-right: 25px;
}

.ani_button:hover span:after {
	opacity: 1;
	right: 0;
}


/*form表单demo END*/

/*--------------------------------------书写模式：direction、writing-mode-----------------------------------------*/
.w_overflow{ width: 100%; margin: 10px 0px;}
/* 单行文字溢出虚点显示*/
.ell{text-overflow:ellipsis;white-space:nowrap;overflow:hidden; width:12em; border:1px solid #000000;}
/*正文文字两端对齐：英文，只需要设定 text-align:justify;中文，则需要添加text-justify:inter-ideograph属性*/
.word_dq{text-align:justify;text-justify:inter-ideograph;width:500px; border:2px solid #F00; padding:10px; margin: 20px 0px;}
/*文字间距：letter-spacing添加字母之间的空白。 ||word-spacing添加每个单词之间的空白 ||Ps: word-spacing对中文无效。*/
.word_jj{word-spacing:18px; letter-spacing: 15px;}
/*让文字垂直显示 */
.ver_hr{writing-mode: horizontal-tb; }   /* 默认值 */
.ver_rl{ writing-mode: vertical-rl;}     /*rl:right-left*/
.ver_lr{ writing-mode: vertical-lr;} 	 /*lr:left-right*/

/*规定文本的方向/书写方向。*/
.dir_ltr{ direction: ltr; }  /*默认值left-to-right，就是从左往右*/
.dir_rtl{ direction: rtl;}   /*      right-to-left，就是从右往左*/
 

/*行高：*/
.hg_example{padding: 20px; background: #FFFAD5; margin: 20px 0px;}
.hg_bfb{font-size:14px;line-height: 150%; background: #DB9E36;padding:10px}
.hg_nodw{font-size:14px;line-height: 1.5; background: #DB9E36;padding:10px}
.hg_children{font-size:26px;background: #FFD34E}


/*当父级元素高度未知时：行级，块级元素居中显示 */
.block_center{ width: 100%; background: #109E59; padding: 60px 0px; display: -webkit-box; -webkit-box-align: center; -webkit-box-pack: center; margin: 20px 0px; }
.block_1{ width: 400px; height: 60px; background: #fff;}
/*so:图片垂直居中我们可以这样写：
img {display:block}
.wrap {display:-webkit-box; -webkit-box-align:center; -webkit-box-pack:center;}*/


/*text-decoration下划线CSS单词值参数：*/
.text-dec{ width: 600px; background: #eee; font-size: 16px; padding: 20px; margin: 20px;}
.text-dec p{ line-height: 36px; }
.dec_underline{text-decoration: underline; }
.dec_overline{ text-decoration: overline; }
.dec_through{ text-decoration: line-through; }

.dec_sty{text-decoration: underline; }/*!!必要*/
.dec_solid{ text-decoration-style: solid; }
.dec_double{text-decoration-style: double; text-decoration-color: #ff0000; }
.dec_dotted{ text-decoration-style: dotted; }
.dec_dashed{ text-decoration-style: dashed; }
.dec_wavy{ text-decoration-style: wavy; }

/*画1px的细线*/
.border1px{ position: relative;}
.border1px:after{
    content:"";
    position: absolute;
    bottom:0px;
    left:0px;
    right:0px;
    border-bottom:1px solid red;
    border-left:1px solid red;
    -webkit-transform:scaleY(.5);
    -webkit-transform-origin:0 0;
}
            
/*改变选中背景色\文字颜色等*/
.select_bg::selection { background:#ff0000; color:#fff; }
.select_bg::-moz-selection { background:#ff0000; color:#fff; }

/*---------------------------------------------------动画效果---------------------------------------------------*/
/*向上运动*/
.Up_x{-webkit-transition:all 0.5s ease-in-out;-o-transition:all 0.5s ease-in-out;transition:all 0.5s ease-in-out;}
.Up_x:hover{-webkit-transform:translate(0px,-5px);-moz-transform:translate(0px,-5px);-o-transform:translate(0px,-5px);transform:translate(0px,-5px);}

/*效果演示：https://mburakerman.github.io/prognroll/*/
@keyframes downarrow{
50%{-webkit-transform:translateY(10px);-moz-transform:translateY(10px);-o-transform:translateY(10px);-ms-transform:translateY(10px);transform:translateY(10px);}
}

/*效果：沿自身的中轴线旋转，永不停止，旋转周期为2秒钟。
用法：-webkit-animation: spin 2s linear infinite; */
@-webkit-keyframes spin{
	0%{-webkit-transform:rotateY(0);}
	100%{-webkit-transform:rotateY(360deg);}
}

/*360旋转*/
.frame_ys{ width: 100%; height: 460px; background: #000; padding: 30px 0px; position: relative; overflow: hidden;}
.frame1{position: relative; float: left; width: 217px; height: 212px; background: url("../images/ww.png") no-repeat; animation: roll_f 12s infinite linear;-webkit-animation:roll_f 12s infinite linear;}
.frame_cirle{ animation: roll_f 12s infinite linear;-webkit-animation:roll_f 12s infinite linear;}

/*.roll_f{*/
	/*from{transform: rotate(0deg);}*/
	/*to{transform: rotate(360deg);}*/
/*}*/
@keyframes roll_f{
	from{transform: rotate(0deg);}
	to{transform: rotate(360deg);}
}
@-webkit-keyframes roll_f{
	from{transform: rotate(0deg);}
	to{transform: rotate(360deg);}
}
@-moz-keyframes roll_g{
	from{transform: rotate(0deg);}
	to{transform: rotate(360deg);}
}
@-ms-keyframes roll_f{
	from{transform: rotate(0deg);}
	to{transform: rotate(360deg);}
}
@-o-keyframes roll_f{
	from{transform: rotate(0deg);}
	to{transform: rotate(360deg);}
}

/*放大缩小循环*/
.frame2{ float: left; height:212px;}
.frame2 li{ float: left;}
.frame2_1{-webkit-animation:fadeIn-t 3.5s both ease-in-out 0.4s infinite;animation:fadeIn-t 3.5s both ease-in-out  0.4s infinite;}
.frame2_2{-webkit-animation:fadeIn-t 3.0s both ease-in-out 0.5s infinite;animation:fadeIn-t 3.0s both ease-in-out  0.5s infinite;}
.frame2_3{-webkit-animation:fadeIn-t 2.5s both ease-in-out 0.4s infinite;animation:fadeIn-t 2.5s both ease-in-out  0.4s infinite;}

.fadeIn-t{
	animation: fadeIn 3s ease-in-out infinite;
	-webkit-animation: fadeIn 3s ease-in-out infinite;
	visibility: visible !important;
}
@keyframes fadeIn-t {
	0% {transform: scale(0.8);opacity: 0.9;}
	50% {transform: scale(1);opacity: 1; }
	100% {transform: scale(.8);opacity: 0.9;}
}
@-webkit-keyframes fadeIn-t {

	0% {-webkit-transform: scale(0.8);opacity: 0.9;}
	50% {-webkit-transform: scale(1);opacity: 1; }
	100% {-webkit-transform: scale(.8);opacity: 0.9;}
}
@-moz-keyframes fadeIn-t {
	0% {-moz-transform: scale(0.8);opacity: 0.9;}
	50% {-moz-transform: scale(1);opacity: 1; }
	100% {-moz-transform: scale(.8);opacity: 0.9;}
}
@-ms-keyframes fadeIn-t {
	0% {-ms-transform: scale(0.8);opacity: 0.9;}
	50% {-ms-transform: scale(1);opacity: 1; }
	100% {-ms-transform: scale(.8);opacity: 0.9;}
}
@-o-keyframes fadeIn-t {
	0% {-o-transform: scale(0.8);opacity: 0.9;}
	50% {-o-transform: scale(1);opacity: 1; }
	100% {-o-transform: scale(.8);opacity: 0.9;}
}

/*流星特效*/
.light{background: url(../images/light.png) center no-repeat;width: 139px;height: 134px; opacity:.5; position: absolute;}
.lx_1{ top: -150px; right: -150px; -webkit-animation:light 8s 1s ease-out infinite; animation:light 8s 1s ease-out infinite;}
.lx_2{ width:80px; background-size:100% auto; top:-250px; right:-150px; opacity:.5;  -webkit-animation:light 8s 5s ease-out infinite; animation:light 8s 6s ease-out infinite;}
.lx_3{ width:100px;background-size:100% auto;top:-150px;right:400px; -webkit-animation:light 8s 4s ease-out infinite;animation:light 8s 4s ease-out infinite;}

@-webkit-keyframes light{
	0% {-webkit-transform:translate(0,0);}
	50% {-webkit-transform:translate(-900px,900px);}
	100% {-webkit-transform:translate(-900px,900px); opacity:0;}
}

@keyframes light{
	0% { transform:translate(0,0);}
	50% {transform:translate(-900px,900px);}
	100% {transform:translate(-900px,900px); opacity:0;}
}


/*CSS3 动画
1,@keyframes规则用于创建动画。在@keyframes中至少规定动画的名称及时长，就能创建由当前样式逐渐改为新样式的动画效果。
2,将动画绑定到选择器:
animation: name duration timing-function delay iteration-count direction;
[animation-name                规定需要绑定到选择器的 keyframe 名称。]
[animation-duration            规定完成动画所花费的时间，以秒或毫秒计。]
animation-timing-function     对应的值为"linear",动画从头到尾的速度是相同的。    
animation-delay               规定在动画开始之前的延迟,此处 .4s 为0.4秒
animation-iteration-count     对应的值为"infinite",动画无限次播放。
animation-direction           对应的值为"alternate",轮流反向播放动画。
如果 animation-direction 值是 "alternate"，
则动画会在奇数次数（1、3、5 等等）正常播放，而在偶数次数（2、4、6 等等）向后播放。
*/

/*飞机特效*/
@-webkit-keyframes travel-plane {
	0%{margin-left: -100px;opacity:0}
	10%{opacity:0.9;}
	90%{opacity:0.9;}
	100%{margin-left: 1090px;opacity:0}
}
@-moz-keyframes travel-plane {
	0%{margin-left: -100px;opacity:0}
	10%{opacity:0.9;}
	90%{opacity:0.9;}
	100%{margin-left: 1090px;opacity:0}
}

.travel_word{width: 100%; height: 800px; background: #2f95e3; margin: 20px 0px; overflow: hidden;}
.w_map{ background: url(../images/travel-map.png) no-repeat; width: 982px; height: 644px; margin: 0 auto; margin-top: 78px; padding-top: 200px;}
.travel-plane{ background: url(../images/travel-plane.gif) no-repeat; width: 52px; height: 29px; margin-left: 1070px;-webkit-animation: travel-plane 25s linear 0.2s infinite backwards;
	-moz-animation: travel-plane 25s linear 0.2s infinite backwards;}




/*跳转箭头*/
.Down_arrow{ width: 100%; padding: 40px 0px;}
.Down_arrow a{display: block;  width: 86px; height: 43px; margin: 0 auto; background: url(../images/down_arrow.png) center no-repeat; -webkit-animation: downarrow 1s linear infinite; -moz-animation: downarrow 1s linear infinite; -o-animation: downarrow 1s linear infinite; animation: downarrow 1s linear infinite;}

/*---------------------------------------------------鼠标效果---------------------------------------------------*/
.mouse{ width: 100%; overflow: hidden;}
.mouse ul li{ width: 10%; background:#000;float: left;}
.mouse ul li img{opacity:0.5;filter:alpha(opacity=50);transition:1s;}
.mouse ul li:hover img{opacity:1;filter:alpha(opacity=100);transition:1s;}

.img_scal{ width: 800px; height:600px; border:4px solid #1E9FFF; margin: 10px auto;overflow: hidden;}
.img_scal img{ display: block; width: 800px; height:600px;  transform: scale(1); transition: all 3s linear;}
.img_scal img:hover{ transform: scale(1.1); transition: all 3s linear; }


.img_hover{ width: 749px;  height: 373px; margin: 0 auto; background: url("../images/hz.jpg") center no-repeat; cursor: pointer; position: relative;}
.hz_bs li { width: 16px; height: 16px; background: url(../images/hz_ico.png) no-repeat;  }
.hz_1{ position: absolute; top:136px; left: 127px;}
.hz_2{ position: absolute; top:150px; left: 350px;}
.hz_3{ position: absolute; top:180px; right: 160px;}
.hz_4{ position: absolute; top:57px; right: 103px;}
.hz_intro{ width: 100px; height: 40px; background: #fff; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 1px solid #9e8567; opacity: 0.9; font-size: 24px; color: #000; font-weight: bold; text-align: center; line-height: 40px;}
.hz_intro1{ position: absolute; top:96px;  left:144px;}
.hz_intro2{ position: absolute; top:168px; left:363px;}
.hz_intro3{ position: absolute; top:158px; right:60px;}
.hz_intro4{ position: absolute; top:76px; right:15px;}
.hz_bs li.cur { width: 16px; height: 16px; background: url(../images/hz_ico.png) 0px -16px no-repeat; }

/*---------------------------------------------media用法----------------------------------------------*/
.media_shap{ width: 99%; height: 60px;  margin: 0 auto; text-align: center; line-height: 60px; color: #fff; border: 2px solid #000000; background:#009688; overflow: hidden;}
@media screen and (max-width: 960px){
	.media_shap{ background:#01AAED;}
}

.vedio{ width: 600px; height:240px; margin: 0 auto;}

/*#header_menu{ width: 100%; height: 40px; background: #000; font-size: 22px; color: #fff; position: relative; z-index: 2;}*/

/*多重背景及background-size运用 */
.bg_example{ width: 100%; height: 1164px; position: relative;}
.bg_dc{ width: 100%; height: 700px;
 background: url(../images/pk_01.jpg) no-repeat,url(../images/pk_02.jpg) no-repeat 264px 0px,url(../images/pk_03.jpg) no-repeat 590px 0px,url(../images/pk_04.jpg) no-repeat 840px 0px;}
/*定位 background-position:
.bg_dc{ width: 100%; height: 900px;background: url(../images/pk_01.jpg) no-repeat,url(../images/pk_02.jpg) no-repeat,url(../images/pk_03.jpg) no-repeat,url(../images/pk_04.jpg) no-repeat;
background-position: 0px 0px,264px 0px,590px 0px,840px 0px;
}*/
.bg_size{}
.bg_size li{float: left; width: 400px; height: 400px;border: 2px solid #000; margin-right: 20px; color: #000;}
.bg_size li:nth-of-type(1){ background: url(../images/51.jpg) center no-repeat; background-size: cover;}
.bg_size li:nth-of-type(2){ background: url(../images/51.jpg) center no-repeat; background-size: 100% 100%;}
.bg_size li:nth-of-type(3){ background: url(../images/51.jpg) center no-repeat; background-size: contain;}
/*多重背景及background-size运用 END*/


/*navScroll使用 navScroll.html*/
.navigation { position:fixed; top: 0px; left:0px; width:100%; background:#333; padding:5px 0px 5px 20px; box-shadow:0px 3px 5px rgba(0, 0, 0, 0.5); z-index:20; }
.navigation li { float:left; position:relative; z-index:99; padding:0px 5px; height:30px; line-height:30px; }
.navigation li a { color:#FFF; padding:0px 15px; display:inline-block; zoom:1; font-family:'Oswald',"Microsoft Yahei",sans-serif; font-size:14px; text-transform:capitalize; transition: all 0.2s linear; text-decoration:none; } 
.navigation li a:hover, .navigation li a.current { background:#FFF;  color:#000; }
.map { position:fixed; top:20%; right:20px; width:100px; background:#FFF; text-align:center; box-shadow:0px 0px 5px rgba(0,0,0,0.3); z-index:20; padding:5px 0px; }
.map li { height:30px; line-height:30px; border-bottom:1px solid #DDD; }
.map li a { color:#666; display:block; width:100%; height:100%; font-family:'Oswald',"Microsoft Yahei",sans-serif; text-transform:capitalize; transition: all 0.2s linear; text-decoration:none; }
.map li a:hover, .map li a.current { background:#67a8ab;  color:#FFF; }
.box { width:600px; height:600px; margin:20px 0px; font-size:20px; }
#box-1 { color:#FFF; background-color:#000; }
#box-2 { color:#000; background-color:yellow; }
#box-3 { color:#FFF; background-color:blue; }
#box-4 { color:#000; background-color:#10FA9C; }
#box-5 { color:#FFF; background-color:red; }
/*navScroll使用 END*/

.box_zoom{ width: 100%; height: 400px; background: #eee; text-align: center; font-size: 16px; color: #fff; margin-bottom: 20px;}
.box_zoom li{float: left; width: 200px; height: 40px; line-height: 40px; background: #000; margin-right: 40px;}
.cg_aft_class{ width: 100%; height: 200px; background: #ccc; text-align: center; font-size: 16px; color: #fff; margin-bottom: 20px;}/*jQuery动态改变class值;*/


/*css实现背景透明文字不透明 star*/
/*div{background:rgba(0,0,0,0.2) none repeat scroll !important;实现FF背景透明，文字不透明*/
.hy_opc{ width: 100%; height: 770px; overflow: hidden; position: relative}
.hy_opc li{ width: 300px;  height: 749px; float: left; }
.hy_opc .hy_zs{ display: none;}
.hy_opc .zs_on .hy_zs{ display: block; width: 100%; height:749px; background:rgba(0,0,0,0.7) none repeat scroll !important;  }
.hy_opc .zs_on .hy_zs h1{ font-size: 28px; color: #fff; text-align: center; line-height: 749px; font-weight: bold;}
.hy_opc1{ background: url("../images/h_1.jpg") no-repeat;}
.hy_opc2{ background: url("../images/h_2.jpg") no-repeat;}
.hy_opc3{ background: url("../images/h_3.jpg") no-repeat;}
.hy_opc4{ background: url("../images/h_4.jpg") no-repeat;}
.hy_opc5{ background: url("../images/h_5.jpg") no-repeat;}
.hy_opc6{ background: url("../images/h_6.jpg") no-repeat;}


 /*大块背景切换 Star*/
.big_bg{ width: 100%; overflow: hidden; margin: 20px 0px; }
.big_bg h2{ font-size: 22px; text-align: center; }
.wh_db{ width: 1063px; height: 430px; background: url(../images/db_after.jpg) center no-repeat; margin:0 auto; margin-top: 20px; } 
.wh_db li{ float: left; width: 177px; height: 215px;  cursor: pointer;}
.wh_db li:hover.db_1{ background: url(../images/db_before.jpg) 0 0 no-repeat; }
.wh_db li:hover.db_2{ background: url(../images/db_before.jpg) -177px 0 no-repeat;}
.wh_db li:hover.db_3{ background: url(../images/db_before.jpg) -354px 0 no-repeat;}
.wh_db li:hover.db_4{ background: url(../images/db_before.jpg) -532px 0 no-repeat;}
.wh_db li:hover.db_5{ background: url(../images/db_before.jpg) -708px 0 no-repeat;}
.wh_db li:hover.db_6{ background: url(../images/db_before.jpg) -886px 0 no-repeat;}
.wh_db li:hover.db_7{ background: url(../images/db_before.jpg) 0 -215px no-repeat;}
.wh_db li:hover.db_8{ background: url(../images/db_before.jpg) -177px -215px no-repeat;}
.wh_db li:hover.db_9{ background: url(../images/db_before.jpg) -354px -215px no-repeat;}
.wh_db li:hover.db_10{ background: url(../images/db_before.jpg) -532px -215px no-repeat;}
.wh_db li:hover.db_11{ background: url(../images/db_before.jpg) -708px -215px no-repeat;}
.wh_db li:hover.db_12{ background: url(../images/db_before.jpg) -886px -215px no-repeat;}



#Local_time{ width: 100%; padding-bottom: 16px; background: #2B2E37; color: #fff; overflow: hidden;}


/*box-shadow: h-shadow v-shadow blur spread color inset;
必需。水平阴影的位置。允许负值。	
必需。垂直阴影的位置。允许负值。	
可选。模糊距离。
可选。阴影的尺寸。
可选。阴影的颜色。
可选。将外部阴影 (outset) 改为内部阴影。
*/
.box_shadow{ width: 300px; height: 400px; background: #000; margin: 0 auto; -webkit-box-shadow: 0px 4px 56px #2d2d2d; box-shadow: 0px 4px 56px #2d2d2d;}